In [388]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import zipfile
import seaborn as sns

# Data Visualization and Exploratory Data Analysis Lab
## Visualizing and exploring data. The data mining process

In this lab, you'll get acquainted with the most streamed songs on Spotify in 2024. The dataset and its associated metadata can be found [here](https://www.kaggle.com/datasets/nelgiriyewithana/most-streamed-spotify-songs-2024). The version you'll need is provided in the `data/` folder.

You know the drill. Do what you can / want / need to answer the questions to the best of your ability. Answers do not need to be trivial, or even the same among different people.

### Problem 1. Read the dataset (1 point)
Read the file without unzipping it first. You can try a different character encoding, like `unicode_escape`. Don't worry too much about weird characters.

In [389]:
data = pd.read_csv('data/spotify_most_streamed_2024.zip', encoding='unicode_escape')
data

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

### Problem 2. Perform some cleaning (1 point)
Ensure all data has been read correctly; check the data types. Give the columns better names (e.g. `all_time_rank`, `track_score`, etc.). To do so, try to use `apply()` instead of a manual mapping between old and new name. Get rid of any unnecessary ones.

In [390]:
#The column names are changed because in the next tasks it will be easy to user the new style of column name.
def rename_column(column):
    new_column_name = str(column).lower()
    new_column_name = new_column_name.replace(' ', '_')
    
    return new_column_name

In [391]:
data.columns = pd.Index(data.columns.to_series().apply(rename_column))
data

,track,album_name,artist,release_date,isrc,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,...,siriusxm_spins,deezer_playlist_count,deezer_playlist_reach,amazon_playlist_count,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts,tidal_popularity,explicit_track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [392]:
#Alternative way to change the name of the columns
# data.columns = data.columns.map(rename_column)

In [393]:
#Checking the data types
data.dtypes

track                          object
album_name                     object
artist                         object
release_date                   object
isrc                           object
all_time_rank                  object
track_score                   float64
spotify_streams                object
spotify_playlist_count         object
spotify_playlist_reach         object
spotify_popularity            float64
youtube_views                  object
youtube_likes                  object
tiktok_posts                   object
tiktok_likes                   object
tiktok_views                   object
youtube_playlist_reach         object
apple_music_playlist_count    float64
airplay_spins                  object
siriusxm_spins                 object
deezer_playlist_count         float64
deezer_playlist_reach          object
amazon_playlist_count         float64
pandora_streams                object
pandora_track_stations         object
soundcloud_streams             object
shazam_counts                  object
tidal_popularity              float64
explicit_track                  int64
dtype: object

In [394]:
#Change format of release date - from object to datetime
data.release_date = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data.release_date

0      2024-04-26
1      2024-05-04
2      2024-03-19
3      2023-01-12
4      2024-05-31
          ...
4595   2017-09-05
4596   2018-07-27
4597   2020-02-28
4598   2016-11-08
4599   2017-04-11
Name: release_date, Length: 4600, dtype: datetime64[ns]

In [395]:
#Convert the column data in all time rank in string. So we can replace comma with empty string
data.all_time_rank = data.all_time_rank.astype(str).str.replace(',', '', regex=False)

#Convert all time rank data in the column to type float
data.all_time_rank = pd.to_numeric(data.all_time_rank, errors='coerce').astype(float)

data.all_time_rank

0          1.0
1          2.0
2          3.0
3          4.0
4          5.0
         ...
4595    4585.0
4596    4575.0
4597    4571.0
4598    4591.0
4599    4593.0
Name: all_time_rank, Length: 4600, dtype: float64

In [396]:
data.dtypes

track                                 object
album_name                            object
artist                                object
release_date                  datetime64[ns]
isrc                                  object
all_time_rank                        float64
track_score                          float64
spotify_streams                       object
spotify_playlist_count                object
spotify_playlist_reach                object
spotify_popularity                   float64
youtube_views                         object
youtube_likes                         object
tiktok_posts                          object
tiktok_likes                          object
tiktok_views                          object
youtube_playlist_reach                object
apple_music_playlist_count           float64
airplay_spins                         object
siriusxm_spins                        object
deezer_playlist_count                float64
deezer_playlist_reach                 object
amazon_playlist_count                float64
pandora_streams                       object
pandora_track_stations                object
soundcloud_streams                    object
shazam_counts                         object
tidal_popularity                     float64
explicit_track                         int64
dtype: object

### Problem 3. Most productive artists (1 point)
Who are the five artists with the most songs in the dataset?

Who are the five "clean-mouthed" artists (i.e., with no explicit songs)? **Note:** We're not going into details but we can start a discussion about whether a song needs swearing to be popular.

In [397]:
#Group by artist and counting the songs
artist_counts = data.groupby('artist')['track'].count().reset_index()

#Changing the name of the songs count column
artist_counts = artist_counts.rename(columns={'track': 'songs_count'})

#Sorting the songs by count in descending order
artist_counts = artist_counts.sort_values(by='songs_count', ascending=False)

#Get the first five songs
artist_with_explicit_songs = artist_counts.head(5)
artist_with_explicit_songs

            artist  songs_count
517          Drake           63
1690  Taylor Swift           63
183      Bad Bunny           60
915        KAROL G           32
1728    The Weeknd           31

In [398]:
#Cheking the explicit track column
clean_songs = data[data['explicit_track'] != 1][['artist', 'track', 'explicit_track']]
clean_songs

             artist                                     track  explicit_track
0     Tommy Richman                       MILLION DOLLAR BABY               0
2           Artemas                i like the way you kiss me               0
3       Miley Cyrus                                   Flowers               0
6      Benson Boone                          Beautiful Things               0
12    Billie Eilish                                     LUNCH               0
...             ...                                       ...             ...
4591   Jaymes Young                             Happiest Year               0
4592  Jaques Raupï¿                             3 Haselnï¿½ï¿               0
4593       Thaman S  Jaragandi (From "Game Changer") (Telugu)               0
4596     Atif Aslam                          Dil Meri Na Sune               0
4598   Arijit Singh                       Nashe Si Chadh Gayi               0

[2949 rows x 3 columns]

In [399]:
#Group by artist and counting the songs
five_artist_with_cleaned_songs = clean_songs.groupby('artist')['track'].count().reset_index()

#Changing the name of the column
five_artist_with_cleaned_songs = five_artist_with_cleaned_songs.rename(columns={'track': 'songs_count'})

#Order the artists by songs_count in descending order
five_artist_with_cleaned_songs = five_artist_with_cleaned_songs.sort_values(by='songs_count', ascending=False)

#Get the first five artist with which has only clean songs
artists_with_cleaned_songs = five_artist_with_cleaned_songs.head(5)
artists_with_cleaned_songs

             artist  songs_count
1305   Taylor Swift           50
171   Billie Eilish           25
139       Bad Bunny           18
715         KAROL G           18
967   Morgan Wallen           17

In [400]:
all_songs_data = data[['artist', 'track', 'explicit_track']].copy()
all_songs_data['clean_mouthed'] = all_songs_data['explicit_track'].apply(lambda x: True if x == 0 else False)
all_songs_data

,artist,track,explicit_track,clean_mouthed
0,Tommy Richman,MILLION DOLLAR BABY,0,True
1,Kendrick Lamar,Not Like Us,1,False
2,Artemas,i like the way you kiss me,0,True
3,Miley Cyrus,Flowers,0,True
4,Eminem,Houdini,1,False
...,...,...,...,...
4595,$uicideboy$,For the Last Time,1,False
4596,Atif Aslam,Dil Meri Na Sune,0,True
4597,Lil Baby,Grace (feat. 42 Dugg),1,False
4598,Arijit Singh,Nashe Si Chadh Gayi,0,True
4599,Arcï¿½ï¿½,Me Acostumbre (feat. Bad Bunny),1,False

In [409]:
#Get artists which has cleaned songs
cleaned = all_songs_data[all_songs_data['clean_mouthed'] == True]['artist'].tolist()

#Get artists which has explicit songs
explicit = all_songs_data[all_songs_data['clean_mouthed'] == False]['artist'].tolist()

#Create new list with artists which has ONLY cleaned songs
only_cleaned_artists = [a for a in cleaned if a not in explicit]

#Get all artist and checking if he is in the list with only cleaned artists. If he is in the list, then group by and count the songs
cleaned_artists = all_songs_data[all_songs_data['artist'].isin(only_cleaned_artists)].groupby('artist')['track'].count().reset_index()

#Sorting the artist by songs count in descending order
cleaned_artists = cleaned_artists.sort_values(by='track', ascending=False)

#Get the first five artist which are only with clean songs and no explicit songs in the main dataset
cleaned_artists.head(5)

              artist  track
519  Imagine Dragons     16
116              BTS     14
702      Linkin Park     13
734       Luke Combs     13
488     Harry Styles     12

### Problem 4. Most streamed artists (1 point)
And who are the top five most streamed (as measured by Spotify streams) artists?

### Problem 5. Songs by year and month (1 point)
How many songs have been released each year? Present an appropriate plot. Can you explain the behavior of the plot for 2024?

How about months? Is / Are there (a) popular month(s) to release music?

### Problem 6. Playlists (2 points)
Is there any connection (correlation) between users adding a song to playlists in one service, or another? Only Spotify, Apple, Deezer, and Amazon offer the ability to add a song to a playlist. Find a way to plot all these relationships at the same time, and analyze them. Experiment with different types of correlations.

### Problem 7. YouTube views and likes (1 point)
What is the relationship between YouTube views and likes? Present an appropriate plot. 

What is the mean YouTube views-to-likes ratio? What is its distribution? Find a way to plot it and describe it.

### Problem 8. TikTok stuff (2 points)
The most popular songs on TikTok released every year show... interesting behavior. Which years peaked the most TikTok views? Show an appropriate chart. Can you explain this behavior? For a bit of context, TikTok was created in 2016.

Now, how much popular is the most popular song for each release year, than the mean popularity? Analyze the results.

In both parts, it would be helpful to see the actual songs.

### * Problem 9. Explore (and clean) at will
There is a lot to look for here. For example, you can easily link a song to its genres, and lyrics. You may also try to link artists and albums to more info about them. Or you can compare and contrast a song's performance across different platforms, in a similar manner to what you already did above; maybe even assign a better song ranking system (across platforms with different popularity metrics, and different requirements) than the one provided in the dataset.