In [206]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Working with Text Lab
## Information retrieval, preprocessing, and feature extraction

In this lab, you'll be looking at and exploring European restaurant reviews. The dataset is rather tiny, but that's just because it has to run on any machine. In real life, just like with images, texts can be several terabytes long.

The dataset is located [here](https://www.kaggle.com/datasets/gorororororo23/european-restaurant-reviews) and as always, it's been provided to you in the `data/` folder.

### Problem 1. Read the dataset (1 point)
Read the dataset, get acquainted with it. Ensure the data is valid before you proceed.

How many observations are there? Which country is the most represented? What time range does the dataset represent?

Is the sample balanced in terms of restaurants, i.e., do you have an equal number of reviews for each one? Most importantly, is the dataset balanced in terms of **sentiment**?

In [207]:
data = pd.read_csv('data/European Restaurant Reviews.csv')
data

,Country,Restaurant Name,Sentiment,Review Title,Review Date,Review
0,France,The Frog at Bercy Village,Negative,Rude manager,May 2024 •,The manager became agressive when I said the c...
1,France,The Frog at Bercy Village,Negative,A big disappointment,Feb 2024 •,"I ordered a beef fillet ask to be done medium,..."
2,France,The Frog at Bercy Village,Negative,Pretty Place with Bland Food,Nov 2023 •,"This is an attractive venue with welcoming, al..."
3,France,The Frog at Bercy Village,Negative,Great service and wine but inedible food,Mar 2023 •,Sadly I used the high TripAdvisor rating too ...
4,France,The Frog at Bercy Village,Negative,Avoid- Worst meal in Rome - possibly ever,Nov 2022 •,From the start this meal was bad- especially g...
...,...,...,...,...,...,...
1497,Cuba,Old Square (Plaza Vieja),Negative,The Tourism Trap,Oct 2016 •,Despite the other reviews saying that this is ...
1498,Cuba,Old Square (Plaza Vieja),Negative,the beer factory,Oct 2016 •,beer is good. food is awfull The only decent...
1499,Cuba,Old Square (Plaza Vieja),Negative,brewery,Oct 2016 •,"for terrible service of a truly comedic level,..."
1500,Cuba,Old Square (Plaza Vieja),Negative,It's nothing exciting over there,Oct 2016 •,We visited the Havana's Club Museum which is l...
1501,Cuba,Old Square (Plaza Vieja),Negative,Tourist Trap,Oct 2016 •,Food and service was awful. Very pretty stop. ...

In [208]:
print(f"Observation in the dataset are {len(data)}")

Observation in the dataset are 1502

In [209]:
grouped_by_country = data.groupby('Country')
countries = grouped_by_country.size().sort_values(ascending=False)
countries

Country
France     512
Italy      318
Morroco    210
Cuba       146
Poland     135
Russia     100
India       81
dtype: int64

In [210]:
most_represented_country = countries.index[0]
print(f"Most represented country is {most_represented_country}")

Most represented country is France

In [211]:
time_range = data[['Country', 'Review Date']]
time_range = time_range.copy()

In [212]:
time_range

     Country Review Date
0     France  May 2024 •
1     France  Feb 2024 •
2     France  Nov 2023 •
3     France  Mar 2023 •
4     France  Nov 2022 •
...      ...         ...
1497    Cuba  Oct 2016 •
1498    Cuba  Oct 2016 •
1499    Cuba  Oct 2016 •
1500    Cuba  Oct 2016 •
1501    Cuba  Oct 2016 •

[1502 rows x 2 columns]

In [213]:
time_range['Review Date'] = time_range['Review Date'].astype(str).str.replace('•', '', regex=False).str.strip()
time_range

     Country Review Date
0     France    May 2024
1     France    Feb 2024
2     France    Nov 2023
3     France    Mar 2023
4     France    Nov 2022
...      ...         ...
1497    Cuba    Oct 2016
1498    Cuba    Oct 2016
1499    Cuba    Oct 2016
1500    Cuba    Oct 2016
1501    Cuba    Oct 2016

[1502 rows x 2 columns]

In [214]:
time_range['Review Date'] = time_range['Review Date'].str.replace('Sept', 'Sep', regex=False)
time_range['Review Date'] = pd.to_datetime(time_range['Review Date'], format='%b %Y', errors='coerce')

In [215]:
print(f"The time range that dataset represent is between {str(time_range['Review Date'].min())[:10]} and {str(time_range['Review Date'].max())[:10]}")

The time range that dataset represent is between 2010-09-01 and 2024-07-01

### Problem 2. Getting acquainted with reviews (1 point)
Are positive comments typically shorter or longer? Try to define a good, robust metric for "length" of a text; it's not necessary just the character count. Can you explain your findings?

### Problem 3. Preprocess the review content (2 points)
You'll likely need to do this while working on the problems below, but try to synthesize (and document!) your preprocessing here. Your tasks will revolve around words and their connection to sentiment. While preprocessing, keep in mind the domain (restaurant reviews) and the task (sentiment analysis).

### Problem 3. Top words (1 point)
Use a simple word tokenization and count the top 10 words in positive reviews; then the top 10 words in negative reviews*. Once again, try to define what "top" words means. Describe and document your process. Explain your results.

\* Okay, you may want to see top N words (with $N \ge 10$).

### Problem 4. Review titles (2 point)
How do the top words you found in the last problem correlate to the review titles? Do the top 10 words (for each sentiment) appear in the titles at all? Do reviews which contain one or more of the top words have the same words in their titles?

Does the title of a comment present a good summary of its content? That is, are the titles descriptive, or are they simply meant to catch the attention of the reader?

### Problem 5. Bag of words (1 point)
Based on your findings so far, come up with a good set of settings (hyperparameters) for a bag-of-words model for review titles and contents. It's easiest to treat them separately (so, create two models); but you may also think about a unified representation. I find the simplest way of concatenating the title and content too simplistic to be useful, as it doesn't allow you to treat the title differently (e.g., by giving it more weight).

The documentation for `CountVectorizer` is [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html). Familiarize yourself with all settings; try out different combinations and come up with a final model; or rather - two models :).

### Problem 6. Deep sentiment analysis models (1 point)
Find a suitable model for sentiment analysis in English. Without modifying, training, or fine-tuning the model, make it predict all contents (or better, combinations of titles and contents, if you can). Meaure the accuracy of the model compared to the `sentiment` column in the dataset.

### Problem 7. Deep features (embeddings) (1 point)
Use the same model to perform feature extraction on the review contents (or contents + titles) instead of direct predictions. You should already be familiar how to do that from your work on images.

Use the cosine similarity between texts to try to cluster them. Are there "similar" reviews (you'll need to find a way to measure similarity) across different restaurants? Are customers generally in agreement for the same restaurant?

### \* Problem 8. Explore and model at will
In this lab, we focused on preprocessing and feature extraction and we didn't really have a chance to train (or compare) models. The dataset is maybe too small to be conclusive, but feel free to play around with ready-made models, and train your own.