In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

from functions.data_main_structure import *

In [6]:
data = pd.read_csv('../data/asthma_disease_data.csv')
data

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,PhysicalActivity,DietQuality,SleepQuality,...,LungFunctionFEV1,LungFunctionFVC,Wheezing,ShortnessOfBreath,ChestTightness,Coughing,NighttimeSymptoms,ExerciseInduced,Diagnosis,DoctorInCharge
0,5034,63,0,1,0,15.848744,0,0.894448,5.488696,8.701003,...,1.369051,4.941206,0,0,1,0,0,1,0,Dr_Confid
1,5035,26,1,2,2,22.757042,0,5.897329,6.341014,5.153966,...,2.197767,1.702393,1,0,0,1,1,1,0,Dr_Confid
2,5036,57,0,2,1,18.395396,0,6.739367,9.196237,6.840647,...,1.698011,5.022553,1,1,1,0,1,1,0,Dr_Confid
3,5037,40,1,2,1,38.515278,0,1.404503,5.826532,4.253036,...,3.032037,2.300159,1,0,1,1,1,0,0,Dr_Confid
4,5038,61,0,0,3,19.283802,0,4.604493,3.127048,9.625799,...,3.470589,3.067944,1,1,1,0,0,1,0,Dr_Confid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,7421,43,1,0,2,29.059613,0,3.019854,6.119637,8.300960,...,3.125249,5.166032,0,1,0,0,0,1,1,Dr_Confid
2388,7422,18,1,0,1,20.740850,0,5.805180,4.386992,7.731192,...,1.132977,5.509502,0,0,0,1,1,0,1,Dr_Confid
2389,7423,54,0,3,2,37.079560,0,4.735169,8.214064,7.483521,...,1.685962,3.346877,1,0,1,1,0,1,1,Dr_Confid
2390,7424,46,1,0,2,23.444712,0,9.672637,7.362861,6.717272,...,3.481549,1.713274,0,1,1,0,1,1,0,Dr_Confid
2391,7425,26,1,0,0,28.123021,1,1.613138,7.412878,8.512253,...,2.280613,2.453284,1,1,0,0,1,0,0,Dr_Confid

In [7]:
column_mapping(data)

{0: 'PatientID',
 1: 'Age',
 2: 'Gender',
 3: 'Ethnicity',
 4: 'EducationLevel',
 5: 'BMI',
 6: 'Smoking',
 7: 'PhysicalActivity',
 8: 'DietQuality',
 9: 'SleepQuality',
 10: 'PollutionExposure',
 11: 'PollenExposure',
 12: 'DustExposure',
 13: 'PetAllergy',
 14: 'FamilyHistoryAsthma',
 15: 'HistoryOfAllergies',
 16: 'Eczema',
 17: 'HayFever',
 18: 'GastroesophagealReflux',
 19: 'LungFunctionFEV1',
 20: 'LungFunctionFVC',
 21: 'Wheezing',
 22: 'ShortnessOfBreath',
 23: 'ChestTightness',
 24: 'Coughing',
 25: 'NighttimeSymptoms',
 26: 'ExerciseInduced',
 27: 'Diagnosis',
 28: 'DoctorInCharge'}

In [8]:
get_columns(data, 19, 23)

,LungFunctionFEV1,LungFunctionFVC,Wheezing,ShortnessOfBreath,ChestTightness
0,1.369051,4.941206,0,0,1
1,2.197767,1.702393,1,0,0
2,1.698011,5.022553,1,1,1
3,3.032037,2.300159,1,0,1
4,3.470589,3.067944,1,1,1
...,...,...,...,...,...
2387,3.125249,5.166032,0,1,0
2388,1.132977,5.509502,0,0,0
2389,1.685962,3.346877,1,0,1
2390,3.481549,1.713274,0,1,1
2391,2.280613,2.453284,1,1,0

In [12]:
def get_columns_point(data, *args):
    df = data.iloc[:, list(args)]
    return df

get_columns_point(data, 3, 4, 24)

      Ethnicity  EducationLevel  Coughing
0             1               0         0
1             2               2         1
2             2               1         0
3             2               1         1
4             0               3         0
...         ...             ...       ...
2387          0               2         0
2388          0               1         1
2389          3               2         1
2390          0               2         0
2391          0               0         0

[2392 rows x 3 columns]